/app/config/mutual.ini
/app/config/database.php
/app/tmp/cache/*
/app/tmp/cache/models/cake_*
/app/tmp/cache/persistent/cake_*
/app/tmp/logs/*.log
/app/tmp/sessions/*
/app/webroot/files/logs/*
/app/webroot/files/reportes/*.xls
/app/webroot/files/reportes/*.txt
/app/webroot/files/reportes/*.pdf
/app/webroot/files/controles/*
/app/webroot/files/graphics/*
/app/webroot/files/socios/*
/app/webroot/files/socios/novedades/*
/app/webroot/files/soporte/*
/app/webroot/files/template/*
/app/webroot/files/intercambio/*
/app/plugins/seguridad/views/backups/files/*
!/app/tmp/cache/models/
!/app/tmp/cache/persistent/
!/app/webroot/files/intercambio/empty
!/app/webroot/files/graphics/empty
!/app/webroot/files/controles/empty
!/app/webroot/files/logs/empty
!/app/webroot/files/reportes/empty
!/app/webroot/files/socios/empty
!/app/webroot/files/socios/novedades/
!/app/webroot/files/soporte/empty
!/app/plugins/seguridad/views/backups/files/empty
app/webroot/files/reportes/*.csv
app/webroot/files/solicitudes/*
app/vendors/shells/tmp_adrian.php
app/webroot/files/reportes/*.xlsx
/nbproject/private/

nbproject/project.properties
nbproject/project.xml
/.buildpath
/.project
/cake_20210721.tar.xz
/app/webroot/files/reportes/65973b8d-32d4-4c8b-b398-d146f858418b
/app/webroot/files/reportes/65973e13-7514-48d3-b845-d8b1f858418b
/app/webroot/files/reportes/65973ea7-c1ac-4b5c-944b-d147f858418b
/app/webroot/files/reportes/65973eee-393c-42dd-a719-d145f858418b
/sigemv2-deploy.zip
